body{
    background-image: url("../img/fondoTerminosCondiciones.jpg");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
p{
    color: white;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    line-height: 20px;
}
h1{
    color: white;
    font-family: 'Archivo', sans-serif;
    text-align: center;
}
a{
    color: white;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    text-decoration: none;
}